:root {
  --white: #f0f9ff;
  --dark: #1a222f;
  --primary: #008ccf;
  --secondary: #404e64;
  --discord: #2b3dfe;
  --trainee: #146c00;
  --junior: #3352a5;
  --middle: #b16c1d;
  --red: #ef474a;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  background-color: var(--white);
  min-height: 100vh;
}

h2 {
  font-size: 1.2rem;
}

p {
  text-wrap: pretty;
}
