.challenge-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 5rem;
}

@media screen and (width>1400px) {
  .challenge-page {
    align-items: start;
    margin-bottom: 10rem;
  }
}

.challenge-page-info {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

@media screen and (width>1400px) {
  .challenge-page-info {
    flex-direction: row;
    align-items: start;
    gap: 2rem;
    padding: 0;
  }
}

.challenge-page-title {
  font-size: 2rem;
  margin-top: 0;
}

.challenge-page-text {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 0;
}

.challenge-page-image {
  width: 600px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@media screen and (width>1400px) {
  .challenge-page-image {
    width: 650px;
  }
}

.challenge-page-skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.challenge-page-user-actions {
  text-align: center;
}

@media screen and (width>1400px) {
  .challenge-page-user-actions {
    text-align: left;
  }
}

.button-back {
  margin-bottom: 2rem;
}

.challenge-footer {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}

@media screen and (width>1400px) {
  .challenge-footer {
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
    padding-inline: 0;
    gap: 2rem;
  }
}

.challenge-guide {
  font-size: 1.125rem;
}

.challenge-guide-title {
  font-size: 2rem;
}

.challenge-guide-text {
}

.challenge-guide-list {
  margin-block: 0;
  margin-bottom: 1rem;
}

.challenge-guide-list-item {
  margin-bottom: 0.5rem;
}

.delivery-form {
  padding: 2rem;
  width: 100%;
  flex: 1;
}

.delivery-form-field {
  display: flex;
  flex-direction: column;
}

.delivery-form-label {
  margin-bottom: 0.5rem;
}

.delivery-form-input {
  height: 40px;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid rgb(0 0 0 / 0.5);
  background-color: transparent;
}

.delivery-form-field-info {
}
