.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
  margin-block: 2rem;
}

.filters > * {
  cursor: pointer;
}

.progress {
  max-width: 1250px;
  margin-inline: auto;
  width: 100%;
  text-align: right;
}

.challenges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 3rem;
  padding-inline: 1rem;
  width: 100%;
  max-width: 1400px;
  min-height: 80vh;
}

@media screen and (width>1400px) {
  .challenges {
    margin-bottom: 15rem;
  }
}

.challenge-box {
  position: relative;
  background-color: var(--primary-light);
  border-radius: 0.75rem;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: background-color 0.2s, scale 0.2s;
  text-align: center;
}

@media (hover: hover) {
  .challenge-box:hover {
    background-color: var(--primary-hover);
    scale: 1.05;
  }
}

.challenge-image {
  border-radius: 0.75rem 0.75rem 0 0;
}

.challenge-title {
  margin-block: 0;
}

.challenge-box-tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  top: 10px;
  left: -30px;
  width: 120px;
  height: 30px;
  rotate: -45deg;
  z-index: 10;
  color: var(--white);
}

.challenge-box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.challenge-box-start,
.challenge-box-finished {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.challenge-box-finished {
  background-color: var(--success);
}
